body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 20px;
    justify-content: space-between;
}

.header img {
    width: 400px;
    height: 300px;
}

.header ul{
    margin: 0px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 8px;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;


    
}

.boxes > * {
    display: flex;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;
    border-color: #3882F6;
}

.content .third {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;

}

.content .middle {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-content: center;
    
}


.blue-box {
    background-color: #3882F6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    
}

.blue-box button {
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

.footer {
    display: flex;
    padding: 10px;
    color: white;
    background-color: #1F2937;
    align-content: center;
    justify-content: center;
}